/* line 6, scss/custom.scss */
body {
  background-color: #f4eccf;
  position: relative;
}

/* line 11, scss/custom.scss */
hr {
  border-top: 1px solid rgba(66, 139, 202, 0.5);
}

/* line 15, scss/custom.scss */
#topnav {
  border-color: transparent;
  border-width: 0;
  margin-bottom: 0;
  background-color: #428bca;
}

/* line 23, scss/custom.scss */
#topnav a {
  color: #f4eccf;
  font-size: 1.2em;
}

/* line 28, scss/custom.scss */
#topnav a:hover {
  background-color: #245682;
}

/* line 32, scss/custom.scss */
#topnav .active > a, #topnav .active > a:hover, #topnav > .active > a:focus {
  background: #245682;
  color: #FFFFFF;
}

/* line 35, scss/custom.scss */
.fb_iframe_widget {
  margin-top: 15px;
}

/* line 39, scss/custom.scss */
#lptext {
  position: absolute;
  margin-top: 10%;
  color: #428bca;
  text-shadow: 2px 2px 10px black;
  z-index: 10;
}

/* line 48, scss/custom.scss */
#lpname, #lptitle {
  font-family: 'Anton', sans-serif;
}

/* line 52, scss/custom.scss */
#landingpage .btn-info {
  background-color: #428bca;
  font-size: 24px;
  border-color: transparent;
}

/* line 58, scss/custom.scss */
#landingpage a {
  color: #f4eccf;
}

/* line 62, scss/custom.scss */
#landingpage a:hover {
  text-decoration: none;
}

/* line 66, scss/custom.scss */
#landingpage .btn-info:hover {
  background-color: #245682;
}

/* line 72, scss/custom.scss */
#landingpage .media {
  position: relative;
}

/* line 76, scss/custom.scss */
#landingpage .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(66, 139, 202, 0.3);
}

/* line 85, scss/custom.scss */
video {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  vertical-align: bottom;
}

/* line 94, scss/custom.scss */
#landingpage img {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 108, scss/custom.scss */
#aboutme i {
  margin: 0 10px;
}

/* line 112, scss/custom.scss */
#aboutme a:hover {
  color: #245682;
}

/* line 116, scss/custom.scss */
#aboutme img {
  margin: 15% auto;
}

/* line 120, scss/custom.scss */
#aboutme h2 {
  margin-top: 0;
}

/* line 125, scss/custom.scss */
.fa:hover {
  color: #245682;
}

/* line 132, scss/custom.scss */
.ability-title {
  display: inline-block;
  width: 60%;
}

/* line 136, scss/custom.scss */
.ability-score {
  float: right;
}

/* line 139, scss/custom.scss */
.ability-score .glyphicon {
  color: #DFE0E0;
  font-size: 14px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 149, scss/custom.scss */
.ability-score .glyphicon.filled {
  color: #428bca;
}

/* line 153, scss/custom.scss */
li:hover .ability-score .glyphicon.filled {
  color: #245682;
}

/* line 158, scss/custom.scss */
#skills ul > li {
  min-height: 30px;
  padding: 3px 0px;
}

/* line 163, scss/custom.scss */
#skills ul > li:hover {
  background: #F2F2F2;
}

/* line 167, scss/custom.scss */
#skills li:hover .ability-score .glyphicon {
  margin-left: 2px;
}

/* line 172, scss/custom.scss */
.workimg {
  position: relative;
}

/* line 176, scss/custom.scss */
.imgoverlay {
  position: absolute;
  background-color: rgba(66, 139, 202, 0.5);
  transition: background-color 1.5s;
  top: 0;
  width: 300px;
  height: 300px;
}

/* line 185, scss/custom.scss */
.imgoverlay:hover {
  background-color: rgba(66, 139, 202, 0);
}

/* line 190, scss/custom.scss */
#submitButton:hover {
  background-color: #245682;
  border-color: transparent;
}

/* line 197, scss/custom.scss */
#map-canvas {
  height: 390px;
  margin: 0;
  padding: 0px;
}

/* line 205, scss/custom.scss */
#footer {
  margin-top: 10px;
  color: #f4eccf;
  background-color: #428bca;
}

@media screen and (max-width: 768px) {
  /* line 218, scss/custom.scss */
  #topnav {
    min-height: 40px;
  }
  /* line 221, scss/custom.scss */
  #topnav ul {
    text-align: center;
    overflow: hidden;
  }
  /* line 226, scss/custom.scss */
  #topnav li {
    display: inline;
  }
  /* line 229, scss/custom.scss */
  #topnav li a {
    display: inline;
    font-size: 1.5em;
  }

  /* line 239, scss/custom.scss */
  #aboutme i {
    margin: 0 5px;
  }

  /* line 243, scss/custom.scss */
  #aboutme img {
    margin: 5% auto;
  }
}
