/* line 6, scss/custom.scss */
body {
  background-color: #f4eccf;
  position: relative;
}
/* line 9, scss/custom.scss */
body a:hover {
  text-decoration: none;
}
/* line 12, scss/custom.scss */
body h2 {
  font-family: 'Roboto', sans-serif;
}
/* line 15, scss/custom.scss */
body .row {
  margin-top: 30px;
}

/* line 20, scss/custom.scss */
hr {
  border-top: 1px solid rgba(66, 139, 202, 0.5);
  width: 30%;
  margin: -10px auto 2px;
}

/* line 26, scss/custom.scss */
#topnav {
  border-color: transparent;
  border-width: 0;
  margin-bottom: 0;
  background-color: #428bca;
}

/* line 34, scss/custom.scss */
#topnav a {
  color: #f4eccf;
  font-size: 1.2em;
}

/* line 39, scss/custom.scss */
#topnav a:hover {
  background-color: #245682;
}

/* line 43, scss/custom.scss */
#topnav .active > a, #topnav .active > a:hover, #topnav > .active > a:focus {
  background: #245682;
  color: #FFFFFF;
}

/* line 46, scss/custom.scss */
.fb_iframe_widget, .twitter-follow-button {
  margin-top: 15px;
}

/* line 51, scss/custom.scss */
#lptext {
  position: absolute;
  margin-top: 15%;
  color: #428bca;
  text-shadow: 2px 2px 10px black;
  z-index: 10;
}
/* line 57, scss/custom.scss */
#lptext #lpname {
  margin-bottom: 0;
  text-decoration: underline;
}
/* line 61, scss/custom.scss */
#lptext #lptitle {
  margin-top: 10px;
  font-size: 24px;
}

/* line 67, scss/custom.scss */
#lptitle {
  font-family: 'Anton', sans-serif;
}

/* line 70, scss/custom.scss */
#lpname {
  font-family: "Oswald", sans-serif;
}

/* line 74, scss/custom.scss */
#landingpage .btn-info {
  background-color: #428bca;
  font-size: 24px;
  border-color: transparent;
}

/* line 80, scss/custom.scss */
#landingpage a {
  color: #f4eccf;
}

/* line 84, scss/custom.scss */
#landingpage a:hover {
  text-decoration: none;
}

/* line 88, scss/custom.scss */
#landingpage .btn-info:hover {
  background-color: #245682;
}

/* line 93, scss/custom.scss */
#landingpage .media {
  position: relative;
}

/* line 97, scss/custom.scss */
#landingpage .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 86, 130, 0.6);
}

/* line 107, scss/custom.scss */
video {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  vertical-align: bottom;
}

/* line 116, scss/custom.scss */
#landingpage img {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 129, scss/custom.scss */
#aboutme i {
  margin: 0 10px;
}

/* line 133, scss/custom.scss */
#aboutme a:hover {
  color: #245682;
}

/* line 137, scss/custom.scss */
#aboutme img {
  margin: 15% auto;
}

/* line 141, scss/custom.scss */
#aboutme h2 {
  margin-top: 0;
}

/* line 146, scss/custom.scss */
.fa:hover {
  color: #245682;
}

/* line 152, scss/custom.scss */
#skills {
  margin-top: 50px;
}

/* line 156, scss/custom.scss */
.ability-title {
  display: inline-block;
  width: 60%;
}

/* line 160, scss/custom.scss */
.ability-score {
  float: right;
}

/* line 163, scss/custom.scss */
.ability-score .glyphicon {
  color: #DFE0E0;
  font-size: 14px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 173, scss/custom.scss */
.ability-score .glyphicon.filled {
  color: #428bca;
}

/* line 177, scss/custom.scss */
li:hover .ability-score .glyphicon.filled {
  color: #245682;
}

/* line 182, scss/custom.scss */
#skills ul > li {
  min-height: 30px;
  padding: 3px 0px;
}

/* line 187, scss/custom.scss */
#skills ul > li:hover {
  background: #F2F2F2;
}

/* line 191, scss/custom.scss */
#skills li:hover .ability-score .glyphicon {
  margin-left: 2px;
}

/* line 196, scss/custom.scss */
#works {
  margin-top: 50px;
}

/* line 200, scss/custom.scss */
.img {
  position: relative;
  overflow: hidden;
}
/* line 203, scss/custom.scss */
.img img {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

/* line 211, scss/custom.scss */
.imgoverlay {
  position: absolute;
  z-index: 20;
  background-color: rgba(66, 139, 202, 0.8);
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
/* line 223, scss/custom.scss */
.imgoverlay a.expand {
  display: block;
  position: absolute;
  z-index: 50;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  border: solid 5px #fff;
  text-align: center;
  color: #fff;
  line-height: 50px;
  font-weight: 700;
  font-size: 30px;
  border-radius: 30px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/* line 253, scss/custom.scss */
.img.imghover .imgoverlay {
  opacity: 1;
}

/* line 257, scss/custom.scss */
.img.imghover .imgoverlay a.expand {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}

/* line 269, scss/custom.scss */
#submitButton:hover {
  background-color: #245682;
  border-color: transparent;
}

/* line 276, scss/custom.scss */
#contacts {
  margin-top: 0;
}

/* line 279, scss/custom.scss */
hr {
  margin-bottom: 10px;
}

/* line 282, scss/custom.scss */
#map-canvas {
  height: 413px;
  margin: 0;
  padding: 0px;
}

/* line 290, scss/custom.scss */
#footer {
  margin-top: 10px;
  color: #f4eccf;
  background-color: #428bca;
}

@media screen and (min-width: 1200px) {
  /* line 302, scss/custom.scss */
  body .container {
    width: 970px;
  }
}
@media screen and (max-width: 768px) {
  /* line 309, scss/custom.scss */
  #topnav ul {
    height: 40px;
    overflow: hidden;
    display: table;
  }
  /* line 314, scss/custom.scss */
  #topnav li {
    display: table-cell;
    width: 25%;
    height: 40px;
    text-align: center;
  }
  /* line 319, scss/custom.scss */
  #topnav li a {
    display: inline;
    font-size: 1.5em;
    line-height: 40px;
  }

  /* line 326, scss/custom.scss */
  #landingpage .overlay {
    background-color: transparent;
  }

  /* line 330, scss/custom.scss */
  #lptext {
    margin-top: 15%;
  }

  /* line 333, scss/custom.scss */
  #aboutme i {
    margin: 0 5px;
  }

  /* line 337, scss/custom.scss */
  #aboutme img {
    margin: 5% auto;
  }
}
