
<configuration>
 <system.webServer>
   <staticContent>
   <remove fileExtension=".mp4" />
     <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
     <remove fileExtension=".webm" />
     <mimeMap fileExtension=".webm" mimeType="video/webm" />
     <remove fileExtension=".woff" />
     <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
     <clientCache cacheControlMode="UseExpires" httpExpires="Tue, 19 Jan 2038 03:14:07 GMT" />
   </staticContent>
 </system.webServer>
</configuration>